In [ ]:
from src.qdrant_cloud import MyQdrantVectorStore
from src.vanna_sql import MyVanna
from src.gemini import GeminiLLM
from src.config  import load_config
from vanna.flask import VannaFlaskApp
import os,flask
import pandas as pd,gspread,json
from google.oauth2.service_account import Credentials

In [3]:
import yaml,sys
# Add the src folder to Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "src")))
#adding the config file
with open("config.yaml", "r") as f:
    config = yaml.safe_load(f)

vn=MyVanna(config=config)

>>> Qdrant URL in use: https://57085b60-dde8-412d-8609-b5671960eeb3.europe-west3-0.gcp.cloud.qdrant.io
Collection 'ddl' already exists.
Collection 'documentation' already exists.
Collection 'sql' already exists.

In [4]:
print(config)

{'qdrant_host': 'localhost', 'qdrant_port': 6333, 'qdrant_collection': 'vanna_collection', 'vector_dim': 1024, 'distance': 'Cosine', 'embedder_model': 'intfloat/e5-large-v2', 'device': 'cpu', 'gemini_model': 'gemini-2.5-flash', 'temperature': 0.5, 'max_output_tokens': 30000, 'allow_llm_to_see_data': True, 'qdrant_url': 'https://57085b60-dde8-412d-8609-b5671960eeb3.europe-west3-0.gcp.cloud.qdrant.io', 'qdrant_api_key': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.hIR8S3da5JCypsIOAIlIuYg6W_-5OY2XZ-jQt9aZsRs'}

## Bizfin Training

In [ ]:
#ddl training
bizfin_file=r"C:\Users\Ingit.Paul.in\Desktop\bizfin_ddl.txt"

with open(bizfin_file, "r") as file:
    ddl_text = file.read()

# Split by ';' and clean
ddl_list = [stmt.strip() + ";" for stmt in ddl_text.split(";") if stmt.strip()]

# Train each one
for ddl in ddl_list:
    vn.train(ddl=ddl)
    print(f" Trained DDL: {ddl.split('(')[0].strip()}")

In [7]:
vn.train(documentation="if asked about the transaction  of IG use the app_name column")

Adding documentation....

'f5994bfe-97b4-5101-aaed-53dac4c8dbf6-documentation'

In [ ]:
exit_status1 = {
    "RENEWED": "Existing loan renewed and extended without releasing the pledged gold.",
    "OPEN": "Loan is active and ongoing; gold remains pledged.",
    "DBC / DBC CHECK": "Internal audit or data verification checkpoint related to loan closure.",
    "NULL": "Same as OPEN â€” loan is still active.",
    "RELEASED": "Loan closed; gold released after final payment. Equivalent to SETTLED.",
    "SETTLED": "Loan closed; gold released after final payment. Equivalent to RELEASED.",
    "PART RELEASED": "Partial release of pledged gold while the remainder continues as collateral.",
    "ITO": "Internal Takeover â€” loan transferred internally between the lending partners",
    "LE-RENEWED": "Loan Enhancement Renewal â€” renewed under an enhanced scheme or higher limit.",
    "RE-BOOKED": "Loan reinitiated after closure or restructuring.",
    "TO BE UPDATED": "Status pending update in records.",
    "ENHANCED": "Loan amount or scheme upgraded.",
    "EXTENDED": "Loan tenure extended without full release or renewal.",
    "AUCTIONED": "Gold auctioned due to non-payment or default.",
    "AUCTION CHECK": "Loan flagged for auction verification due to missed payments. "
                    "The company calls the customer to make the payments; if no actions are taken, it goes to auction.",
    "R&REPLDGED / RELEASED & REPLDGED / Release & Repledge": "Loan repledged after release.",
    "RELEASED, RELEASED, RELEASED": "Loan closed and fully settled."
}

for key, value in exit_status1.items():
    vn.train(documentation=f"{key}: {value}")


loan_type = {
    "FRESH / Fresh": "Newly disbursed loan against pledged gold.",
    "RENEWAL / Renewal": "Existing loan renewed without releasing the gold.",
    "LE-RENEWAL": "Loan Enhancement Renewal â€” renewed under an enhanced scheme with better interest and benefits.",
    "ENHANCEMENT": "Increase in loan amount or scheme benefit for an existing customer.",
    "TAKEOVER / Takeover": "Loan taken over from an external lender or bank and moved to Rupeek.",
    "ITO": "Internal Takeover â€” loan transferred internally between the lending partners.",
    "PITO": "definition not provided not reuqired for analysis",
    "R&REPLEDGE / RELEASE & REPLEDGE": "Gold released and immediately repledged to issue a new loan.",
    "RE-BOOKING": "Loan reinitiated or booked again after closure.",
    "EXTENDED / RE-EXTENDED": "Loan tenure extended or re-extended without new disbursement.",
    "PART RELEASE": "Partial release of pledged gold while retaining the remaining portion as collateral for the further goal."
}

for key, value in loan_type.items():
    vn.train(documentation=f"{key}: {value}")


secured_lender={'SIB':'South Indian Bank',
                'FED':'Federal Bank',
                'RCPL':'Rupeek Capital Private Limited',
                'AXIS':'Axis Bank'}

for key, value in secured_lender.items():
    vn.train(documentation=f"{key}: {value}")

In [ ]:
#training on the bizfin columns

creds = Credentials.from_service_account_file(r"C:\Users\Ingit.Paul.in\Downloads\vana-doc-train-8f85103e3c33.json",
    scopes=[
        "https://www.googleapis.com/auth/spreadsheets",
        "https://www.googleapis.com/auth/drive"
    ]
)
client = gspread.authorize(creds)
Workbook_name=client.open('Bizfin_training')

worksheets = Workbook_name.worksheets()[1:]

# Loop through each worksheet in the workbook
for worksheet in worksheets:
    table_name = worksheet.title
    print(f"ðŸ“„ Processing  table (sheet): {table_name}")

    data=worksheet.get_all_records()
    if not data:
        print(f"Skipping empty sheet: {worksheet.title}")
        continue
    df=pd.DataFrame(data)
    df.columns=['column_name', 'column_description']

    for _, row in df.iterrows():
        column_name = str(row['column_name']).strip()
        column_description = str(row['column_description']).strip()

        if not column_description or column_description.lower() in ['nan', 'none']:
            continue

        document = f"table: {table_name}\ncolumn: {column_name}\nDescription: {column_description}"
        vn.train(documentation=document)
        print(f"âœ… Trained column: {column_name} (table: {table_name})")

print(" Training completed for all sheets!")

In [9]:
vn.train(sql="""
select count(gl_id) from bizfin.rpt_all_loan_tilldate
where coalesce(dop,dot)='2025-11-11'
and appname like '%IG%'
and secured_lender='SIB';""",
question="How many loans are there for IG on 2025-11-11 with secured lender SIB?")

'4a991971-c1db-5c79-93f6-64c3d563ec32-sql'

In [10]:
vn.train(documentation="use appname column to  find the IG and use appname like '%IG%'")

Adding documentation....

'093de991-2965-5f94-a875-5f60248562ef-documentation'

In [ ]:
sql_training ={"sql1": {"question":"""
                         Fetch the previous loan details (including GL ID, scheme, loan amount, and repledge info) 
                         for all customers whose loans have been renewed or retained since October 2024.""",
                        
        "sql": """WITH base_data AS (
    SELECT DISTINCT 
        CASE
            WHEN gl_id IS NULL THEN '0'a
            WHEN gl_id = '' THEN '0'
            ELSE gl_id
        END AS actual_gl,
        *
    FROM bizfin.rpt_all_loan_tilldate
    WHERE (
            LOWER(appname) LIKE '%renewal%'
            OR LOWER(appname) LIKE '%retention%'
        )
        AND dot >= '2024-10-01'
),
old_gls AS (
    SELECT *
    FROM (
        SELECT
            *,
            ROW_NUMBER() OVER (
                PARTITION BY loanid
                ORDER BY repledge_date DESC
            ) AS rnk
        FROM dw.core_loanrequest_repledgehistory
    )
    WHERE rnk = 1
),
currently_active AS (
    SELECT DISTINCT
        t2.lploanid,
        t2.loanid AS sec_loanid,
        t3.oldlploanid AS prev_gl,
        t3.repledge_date,
        t3.repledgehistory,
        t3.oldloan_date AS prev_loan__dot
    FROM dw.core_loanrequest_loan t2
    LEFT JOIN old_gls t3
        ON t3.loanid = t2.loanid
),
re_renewed_gls AS (
    SELECT DISTINCT *
    FROM (
        SELECT *,
               ROW_NUMBER() OVER (
                   PARTITION BY oldlploanid
                   ORDER BY repledge_date DESC
               ) AS rn
        FROM (
            SELECT DISTINCT
                t2.*,
                t1.oldlploanid,
                t1.loanid,
                LEAD(t1.oldlploanid, 1) OVER (
                    PARTITION BY t1.loanid
                    ORDER BY t1.repledge_date DESC
                ) AS previous_gl,
                LEAD(t1.repledgehistory, 1) OVER (
                    PARTITION BY t1.loanid
                    ORDER BY t1.repledge_date DESC
                ) AS prev_loan_details,
                t1.repledge_date,
                t1.oldloan_date AS current_loan_dot,
                LEAD(t1.oldloan_date, 1) OVER (
                    PARTITION BY t1.loanid
                    ORDER BY t1.repledge_date DESC
                ) AS prev_loan_dot,
                LEAD(t1.repledge_date, 1) OVER (
                    PARTITION BY t1.loanid
                    ORDER BY t1.repledge_date DESC
                ) AS prev_loan_repledged_on
            FROM dw.core_loanrequest_repledgehistory t1
            LEFT JOIN base_data t2
                ON t1.oldlploanid = t2.actual_gl
        )
    )
    WHERE rn = 1
)SELECT
    t1.*,
    t2.customer_ltv AS prev_ltv,
    t2.lm_appname AS prev_scheme,
    t2.int_rate1 AS prev_opp1,
    t3.u_lploanid AS prev_unsec_gl,
    COALESCE(t3.s_loan_amount, 0) AS prev_sec_la,
    COALESCE(t3.u_loan_amount, 0) AS prev_unsec_la,
    t2.tenure AS old_tenure
FROM (
    SELECT
        db.*,
        CASE
            WHEN db.prev_gl_id = '' THEN '0'
            WHEN db.prev_gl_id IS NULL THEN '0'
            ELSE db.prev_gl_id
        END AS actual_prev_gl,
        JSON_EXTRACT_PATH_TEXT(db.repledgehistory, 'oldmasterschemeid') AS old_msi
    FROM (
        SELECT DISTINCT
            t1.*,
            COALESCE(t2.sec_loanid, t3.loanid) AS sec_loanid,
            COALESCE(t2.prev_gl, t3.previous_gl) AS prev_gl_id,
            COALESCE(t2.prev_loan__dot, t3.prev_loan_dot) AS prev_loan_dot,
            COALESCE(t2.repledge_date, t3.prev_loan_repledged_on) AS curr_repledged_on,
            COALESCE(t2.repledgehistory, t3.prev_loan_details) AS repledgehistory
        FROM base_data t1
        LEFT JOIN currently_active t2
            ON t1.actual_gl = t2.lploanid
        LEFT JOIN re_renewed_gls t3
            ON t3.oldlploanid = t1.actual_gl
    ) db
) t1
LEFT JOIN dm.rpt_scheme_details t2
    ON t2.masterschemeid = old_msi
LEFT JOIN (
    SELECT DISTINCT *
    FROM bizfin.rpt_gl_id_txn_id_mapping_txn_wise
) t3
    ON t3.s_lploanid = t1.actual_prev_gl;

        
        """  
}}


loan_equivalence = {"fresh": "FRESH",
    "Fresh": "FRESH",
    "FRESH": "FRESH",
    
    "renewal": "RENEWAL",
    "Renewal": "RENEWAL",
    "RENEWAL": "RENEWAL",
    
    "le-renewal": "LE-RENEWAL",
    "Le-Renewal": "LE-RENEWAL",
    "LE-RENEWAL": "LE-RENEWAL",
    
    "enhancement": "ENHANCEMENT",
    "Enhancement": "ENHANCEMENT",
    "ENHANCEMENT": "ENHANCEMENT",
    
    "takeover": "TAKEOVER",
    "Takeover": "TAKEOVER",
    "TAKEOVER": "TAKEOVER",
    
    "ito": "ITO",
    "Ito": "ITO",
    "ITO": "ITO",
    
    "pito": "PITO",
    "Pito": "PITO",
    "PITO": "PITO",
    
    "r&repledge": "R&REPLEDGE",
    "R&Repledge": "R&REPLEDGE",
    "RELEASE & REPLEDGE": "R&REPLEDGE",
    
    "re-booking": "RE-BOOKING",
    "Re-Booking": "RE-BOOKING",
    "RE-BOOKING": "RE-BOOKING",
    
    "extended": "EXTENDED",
    "Extended": "EXTENDED",
    "EXTENDED": "EXTENDED",
    
    "re-extended": "RE-EXTENDED",
    "Re-Extended": "RE-EXTENDED",
    "RE-EXTENDED": "RE-EXTENDED",
    
    "part release": "PART RELEASE",
    "Part Release": "PART RELEASE",
    "PART RELEASE": "PART RELEASE"
}
for key, value in loan_equivalence.items():
    vn.train(documentation=f"'{key}' means the same as '{value}'. They represent the same loan type.")

In [ ]:
vn.train( question="tell me the count of the number of loan  happened yesterday 1st novemeber 2025 in south indian bank",
         sql="""SELECT COUNT(gl_id) FROM bizfin.rpt_all_loan_tilldate WHERE coalesce (dop,dot) = '2025-11-01' AND secured_lender='SIB';""")
vn.train(documentation=""""whenever you use rpt_all_loan_tilldate and rpt_gl_id_txn_id_mapping use  
                           bizfin.rpt_gl_id_txn_id_mapping as the table name  and bizfin.rpt_all_loan_tilldate  as the table name to execute query in the redhsift database""")
vn.train(question="""tell me the count of the number of loan  occured on  saturday 1st novemeber 2025 in
          south indian bank laon_type fresh  and take over""",
          sql="""SELECT COUNT(gl_id)
FROM bizfin.rpt_all_loan_tilldate
WHERE coalesce (dop,dot) = '2025-11-01'
  AND secured_lender='SIB'
  AND UPPER(loan_type) IN ('FRESH', 'TAKEOVER');""")
vn.train(documentation="when told about or ask on sanction date use coalesce(dop,dot) to filter the desired data")
vn.train(question="""  this is query  which is used to find the number of transactions which are MIP and the 
         customers who have a desired customer_ltv (example:LTV>=84) 
           for a particular date""",
         sql="""SELECT count(gl_id) as total_count,
sum(total) AS total_sum
FROM bizfin.rpt_all_loan_tilldate
WHERE coalesce(dop, dot) = '2025-11-03'
  AND appname ILIKE '%Monthly%'
  AND customer_ltv >=84;""")
vn.train(documentation="the queries that the gemini llm will write will be on redshift so right be queries with syntaxes that are amazon" \
"redshift friendly")

vn.train(question="Find me the number of new customers acquired last month in bangalore",
         sql="""SELECT COUNT(DISTINCT customer_mobile)
FROM bizfin.rpt_all_loan_tilldate
WHERE new_repeat_cx_flag = 'NEW'
  AND city = 'Bangalore'
  AND coalesce(dop, dot) >= DATE_TRUNC('month', DATEADD(month, -1, GETDATE()))
  AND coalesce(dop, dot) < DATE_TRUNC('month', GETDATE());"""
)


vn.train(documentation="""use the following  to get the current month
         COALESCE(dop, dot) >= DATE_TRUNC('month', CURRENT_DATE)
AND COALESCE(dop, dot) <  DATE_TRUNC('month', DATEADD(month, 1, CURRENT_DATE));
         
         these filter to filter lasr N month(for exmaple last 3 month)
         COALESCE(dop, dot) >= DATE_TRUNC('month', DATEADD(month, -3, CURRENT_DATE))
AND COALESCE(dop, dot) <  DATE_TRUNC('month', CURRENT_DATE);""")

In [ ]:
vn.train(question="Find me the number of new customers acquired last month in bangalore",
         sql="""SELECT COUNT(DISTINCT customer_mobile)
FROM bizfin.rpt_all_loan_tilldate
WHERE new_repeat_cx_flag = 'NEW'
  AND city = 'Bangalore'
  AND coalesce(dop, dot) >= DATE_TRUNC('month', DATEADD(month, -1, GETDATE()))
  AND coalesce(dop, dot) < DATE_TRUNC('month', GETDATE());"""
)

In [ ]:
questionandsql = {
    "tp1": {
        "question":"""What is the value of transactions done in SIB where APPNAME contains 'IG' and the date is 4th November 2025?""",
        "sql":"""SELECT SUM(total)
FROM bizfin.rpt_all_loan_tilldate
WHERE secured_lender = 'SIB'
  AND appname ILIKE '%IG%'
  AND COALESCE(dop, dot) = '2025-11-04';"""},

    "tp2":{
        "question":"""What is the value of transactions done in SIB where APPNAME contains 'IG' and the date is 4th November 2025? """,

        "sql":""""SELECT SUM(total)
                  FROM bizfin.rpt_all_loan_tilldate
WHERE secured_lender = 'SIB'
  AND appname ILIKE '%IG%'
  AND COALESCE(dop, dot) = '2025-11-04';"""},

"tp3":{
    "question":"""For South Indian Bank's takeover transactions, what were the city-wise loan values yesterday, 
    on November 4th, 2025, ordered by loan value, including the top 10 cities?""",    
    "sql":"""SELECT city,SUM(total) AS total_loan_value FROM bizfin.rpt_all_loan_tilldate WHERE
    COALESCE(dop, dot) = '2025-11-04'
    AND secured_lender = 'SIB'
    AND UPPER(loan_type) = 'TAKEOVER' GROUP BY city ORDER BY total_loan_value DESC LIMIT 10;"""},

"tp4":{
    "question":"What was the total loan_value booked in south indian bank on 4th november 2025, and what was the loan_value from fresh transactions?",
    "sql":"""SELECT
  SUM(total) AS total_loan_value_booked,
  SUM(CASE WHEN UPPER(loan_type) = 'FRESH' THEN total ELSE 0 END) AS fresh_loan_value
FROM bizfin.rpt_all_loan_tilldate
WHERE coalesce(dop, dot) = '2025-11-04'
  AND secured_lender = 'SIB';"""},
"tp5":{
    'question':"share of new and repeat customer in bangalore in 2025",
    "sql":"""WITH CustomerCounts AS (
    SELECT
        new_repeat_cx_flag,
        COUNT(DISTINCT customer_mobile) AS customer_count
    FROM
        bizfin.rpt_all_loan_tilldate
    WHERE
        city = 'Bangalore'
        AND EXTRACT(YEAR FROM COALESCE(dop, dot)) = 2025
    GROUP BY
        new_repeat_cx_flag
)
SELECT
    new_repeat_cx_flag,
    customer_count,
    (customer_count * 100.0 / SUM(customer_count) OVER ()) AS share_percentage
FROM
    CustomerCounts;"""   
},
"tp6":
{'question':"""
find the number of transactions which are MIP and the customers who have a desired customer_ltv (example:LTV>=84) yesterday 4th november 2025""",
"sql":""" SELECT COUNT(gl_id)
FROM bizfin.rpt_all_loan_tilldate
WHERE coalesce(dop, dot) = '2025-11-04'
  AND appname ILIKE '%Monthly%'
  AND customer_ltv >= 84;"""}
}

In [5]:
vn.train(documentation='HLTV means high loan to value  and customer with LTV >=80 are called this')

Adding documentation....

'e07bd418-49ac-5cf7-8d77-e1953c8b19c1-documentation'

In [7]:
#connecting it to the database

host = os.getenv("REDSHIFT_HOST")
dbname = os.getenv("REDSHIFT_DB")
user = os.getenv("REDSHIFT_USER")
password = os.getenv("REDSHIFT_PASSWORD")
port = os.getenv("REDSHIFT_PORT", 5439) 

vn.connect_to_postgres(
    host=host,
    dbname=dbname,
    user=user,
    password=password,
    port=int(port))
print("Connected to Redshiftâœ…")

Connected to Redshiftâœ…

In [9]:
#the UI for the users
app = VannaFlaskApp(vn, allow_llm_to_see_data=True,
                    csv_download=False,chart=False,title='Welcome to Vanna.AI')
port = int(os.environ.get("PORT", 5000))  
app.run(host="0.0.0.0", port=port)

 * Serving Flask app 'vanna.flask'
 * Debug mode: off

In [10]:
print("Run SQL is set:", vn.run_sql_is_set)

Run SQL is set: True

In [12]:
sql = """WITH CustomerCounts AS (
    SELECT
        new_repeat_cx_flag,
        COUNT(DISTINCT customer_mobile) AS customer_count
    FROM
        bizfin.rpt_all_loan_tilldate
    WHERE
        city = 'Bangalore'
        AND EXTRACT(YEAR FROM coalesce(dop, dot)) = 2025
    GROUP BY
        new_repeat_cx_flag
)
SELECT
    cc.new_repeat_cx_flag,
    cc.customer_count,
    (cc.customer_count * 100.0 / SUM(cc.customer_count) OVER ()) AS percentage_share
FROM
    CustomerCounts cc;"""

df = vn.run_sql(sql)
print("Type of df:", type(df))
print(df)

Type of df: <class 'pandas.core.frame.DataFrame'>
  new_repeat_cx_flag  customer_count    percentage_share
0             REPEAT            7512  77.220394736842105
1                NEW            2216  22.779605263157894